<div class="container">
	
	<tr *ngFor="let stat of playerStats">
		<td *ngIf="stat">
			{{stat?.elo}}
		</td>
		<td *ngIf="stat">
			{{stat?.winPercent | number: '1.0-0'}}%
		</td>
	</tr>

	<button class="button" [disabled]="calcInProgress" (click)="getStatsForAll()">Start</button>
	<!-- <button class="button" (click)="toggleFakeInput()">Fake Input: {{fakeInput}}</button> -->
	<button class="button"(click)="closeApp()">Close</button>
	<!-- <p id="close" (click)="closeApp()">&#10006;</p> -->
</div>