.container {
    height: 100%;
    margin-left: 0;
    max-width: 300;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
    background-color: transparent;
}

h1 {
    color: rgb(255, 223, 145);
    font-family: "maiola", serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    color: rgb(255, 223, 145);
    font-family: "maiola", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "noto-sans", sans-serif;
    color: #e2e2e2;
}

td {
    padding-right: 30px;
    padding-bottom: 45px;
    margin-top: 0;
    margin-bottom: 43px;
    font-size: 30px;
    font-family: "maiola", serif;
    color: #ffdb88;
    font-weight: 400;
}

#close {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5em;
    color: rgb(255, 218, 123);
    float: right;
    // padding-top: 10px;
    padding-right: 20px;
}

#close:hover {
    color: #e2e2e2;
}

.button {
    color: #ffdb88;
    font-weight: 400;
    background-color: #121520;
    font-family: "maiola", serif;
    border: none;
    // color: #c4c4c4;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 0px 0px;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: #191d2c;
}