<div class="container">
	<p id="close" (click)="closeApp()">&#10006;</p>
	<h1>Player info</h1>
	<h3>Your Team</h3>
	<p>
		Solaire: ELO 1080, 68% Winrate
	</p>
	<p>
		Makla: ELO 1080, 68% Winrate
	</p>
	<h3>
		Opponent Team
	</h3>
	<p>
		Test: ELO 1080, 68% Winrate
	</p>
	<p>
		Test: ELO 1080, 68% Winrate
	</p>
	<!-- <h3 class="title">
		{{playerName}}:{{elo}}
	</h3> -->
	<!-- <button (click)="saveScreenshotsAndRecognize()">Save screenshot and recognize</button> -->
	<!-- <button (click)="recognizeImage()">Start text recognition</button> -->
</div>